@charset "UTF-8";
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_46 {
  width: 100%;
  height: 832px;
  background: rgba(216,193,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_49 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 1015px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_50 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 1600px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_51 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 1310px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_52 {
  width: 395px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 350px;
  left: 1145px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_53 {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 591px;
  left: 1102px;
  overflow: hidden;
}
.v12_60 {
  width: 900px;
  height: 900px;
  background: url("v12_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_48 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 150px;
  left: 410px;
  font-family: Roboto, monospace ;
  font-weight: 800;
  font-size: 120px;
  opacity: 1;
  text-align: left;
}
.v30_2 {
  width: 129px;
  height: 45px;
  background: rgba(165,127,202,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1005px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v30_4 {
  width: 129px;
  height: 45px;
  background: rgba(165,127,202,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1600px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v30_8 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 693px;
  left: 1610px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v30_5 {
  width: 129px;
  height: 45px;
  background: rgba(165,127,202,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v30_7 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 693px;
  left: 1310px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v30_6 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 693px;
  left: 1015px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}



