<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
    <link href="../static/styles/list.css"  th:href="@{/styles/list.css}" rel="stylesheet" />
</head>
<body>
<header>
  <h1>Flights</h1>
</header>

<div th:switch="${flights}">
  <h2 th:case="null">No flights found!</h2>
  <div th:case="*">

    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>To</th>
        <th>From</th>
        <th>Date_departure</th>
        <th>Date_arrival</th>
        <th>Ticket</th>
        <th>Plane Id</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="flight:${flights}">
        <td th:text="${flight.id}"></td>
        <td th:text="${flight.to_col}"></td>
        <td th:text="${flight.from_col}"></td>
        <td th:text="${flight.date_dep}"></td>
        <td th:text="${flight.date_arr}"><td>
        <td th:text="${flight.ticket_type}"></td>
        <td th:text="${flight.plane_id}"></td>
        <td><a th:href="@{flight-update/{id}(id=${flight.id})}">Edit</a></td>
        <td><a th:href="@{flight-delete/{id}(id=${flight.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="button-container">
    <a href="/flight-create" class="button">Create flight</a>
    <a href="/planes" class="button">Check the plane list</a>
    <a href="/passangers" class="button">Check the passanger list</a>
    <a href="/" class="button">Return to the main page</a>
  </div>

  <!--  <video autoplay loop muted width="2000" height="800" src="video.mp4"></video>  -->
</div>
</body>
</html>