<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Create passanger</title>
  <link href="../static/styles/create.css" th:href="@{/styles/create.css}" rel="stylesheet" />
</head>
<body>
<header>
  <h1>Create Passanger</h1>
</header>

<form action="#" th:action="@{/passanger-create}" th:object="${passanger}" method="post">
  <label for="name">First name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="First Name">
  <label for="sirname">Last name</label>
  <input type="text" th:field="*{sirname}" id="sirname" placeholder="Last Name">
  <label for="birthdate">Birthdate</label>
  <input type="text" th:field="*{birthdate}" id="birthdate" placeholder="Birthdate">
  <input type="submit" value="Create Passanger">
</form>


<div class="button-container">
  <a href="/passangers" class="button">Back to passanger list</a>
</div>

</body>
</html>