<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Create passanger</title>
  <link href="../static/styles/update.css" th:href="@{/styles/test-update.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{/passanger-update}" th:object="${passanger}" method="post">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <br/>
  <label for="name">First name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="First Name">
  <br/>
  <label for="sirname">Last name</label>
  <input type="text" th:field="*{sirname}" id="sirname" placeholder="Last Name">
  <br/>
  <label for="birthdate">Birthdate</label>
  <input type="text" th:field="*{birthdate}" id="birthdate" placeholder="Birthdate">
  <br/>
  <input type="submit" value="Update Passanger">
</form>
</body>
</html>
