<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create plane</title>
    <link href="../static/styles/create.css" th:href="@{/styles/create.css}" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Create Plane</h1>
</header>
<form action="#" th:action="@{/plane-create}" th:object="${plane}" method="post">
    <label for="id">Id</label>
    <input type="number" th:field="*{id}" id="id" placeholder="Id">

    <label for="count_pass">Count pass</label>
    <input type="number" th:field="*{count_pass}" id="count_pass" placeholder="Count pass">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">

    <label for="type">Type</label>
    <input type="text" th:field="*{type}" id="type" placeholder="Type">

    <input type="submit" value="Create Plane">
</form>


<div class="button-container">
    <a href="/planes" class="button">Back to plane list</a>
</div>

</body>
</html>