<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planes</title>
    <link href="../static/styles/list.css" th:href="@{/styles/list.css}" rel="stylesheet" />
</head>
<body class="background-image">
<header>
    <h1>Planes</h1>
</header>
<div class="row">
    <div class="col-md-8 offset-md-4">
        <h4>Поиск рейса по строчному критерию:</h4>
        <form th:action="@{/planes}" method="get">
            <input type="text" name="keyword" id="keyword" size="70" th:value="${keyword}" required/>
            <input type="submit" class="btn btn-success btn-sn" value="Поиск"/>
            <input type="button" class="btn btn-warning btn-sn" value="Очистить" id="btnClear" onclick="clearSearch()"/>
        </form>
    </div>
</div>
<div th:switch="${planes}">
    <h2 th:case="null">No planes found!</h2>
    <div th:case="*">

        <table id="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Count pass</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="plane:${planes}">
                <td th:text="${plane.id}"></td>
                <td th:text="${plane.count_pass}"></td>
                <td th:text="${plane.name}"></td>
                <td th:text="${plane.type}"></td>
                <td><a th:href="@{plane-update/{id}(id=${plane.id})}">Edit</a></td>
                <td><a th:href="@{plane-delete/{id}(id=${plane.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <a href="/plane-create" class="button">Create plane</a>
        <a href="/flights" class="button">Check the flight list</a>
        <a href="/passangers" class="button">Check the passanger list</a>
        <a href="/" class="button">Return to the main page</a>
    </div>

    <p class="text-black">
        <script type="text/javascript">
            function getrows(){
                let table = document.getElementById('1')
                let tBody = table.querySelector('tbody')
                const count = tBody.querySelectorAll('tr').length
                document.write('Количество рейсов в таблице: ' + count)
            }
            getrows()

            function clearSearch(){
                window.location="[[@{/planes}]]"
            }
        </script>
    </p>
</div>



</body>
</html>