<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planes</title>
    <link href="../static/styles/list.css" th:href="@{/styles/list.css}" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Planes</h1>
</header>
<div th:switch="${planes}">
    <h2 th:case="null">No planes found!</h2>
    <div th:case="*">

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Count pass</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="plane:${planes}">
                <td th:text="${plane.id}"></td>
                <td th:text="${plane.count_pass}"></td>
                <td th:text="${plane.name}"></td>
                <td th:text="${plane.type}"></td>
                <td><a th:href="@{plane-update/{id}(id=${plane.id})}">Edit</a></td>
                <td><a th:href="@{plane-delete/{id}(id=${plane.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <a href="/plane-create" class="button">Create plane</a>
        <a href="/flights" class="button">Check the flight list</a>
        <a href="/passangers" class="button">Check the passanger list</a>
        <a href="/" class="button">Return to the main page</a>
    </div>

</div>

</body>
</html>