/* установка стилей для body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #6c757d;
    margin: 0;
}

/* установка стилей для заголовка */
h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
}


/* установка стилей для таблицы */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #6c757d;

}

tr:hover {
    background-color: #8a929a;
}

/* установка стилей для кнопок */
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.button {
    text-decoration: none;
    display: inline-block;
    background-color: #6c757d;
    color: #000000;
    border: 1px solid #000000;
    text-align: center;
    padding: 14px 24px;
    margin: 10px;

}

.button:hover {
    background-color: #3e8e41;
    text-decoration: none;
    transition: 0.7s;
    color: white;
}

/* установка стилей для формы */
form {
    margin: 50px 0;
    text-align: center;
}

input[type="text"], input[type="submit"], input[type="button"] {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 10px;
}

/*установка стилей для кнопок "поиск" и "очистить"*/

.btn-success {
    background-color: #28a745;
    color: #ffffff;
}
.btn-success:hover{
    background-color: #28a760;
 }

.btn-warning {
    background-color: #dc3545;
    color: #ffffff;
}
.btn-warning:hover{
    background-color: #dc3560;
}
/* установка стилей для блока с сообщением */
.message {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0;
}

/* установка стилей для ссылок*/

.edit-link {
    color: #28a745;
    text-decoration: none;
}
.edit-link:hover {
    text-decoration: none;
}

.delete-link {
    color: red;
    text-decoration: none;
}
.delete-link:hover {
    text-decoration: none;
}


