body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #007bff;
    color: #fff;
}

th,
td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

th:first-child,
td:first-child {
    width: 50px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}