/*установка стилей для формы*/
form {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: #6c757d;
    border-radius: 5px;
}
/*установка стилей для фона*/
body{
    background-color: #6c757d;
}
/*установка стилей для заголовка*/
header {
    background-color: #6c757d;
    text-align: center;
    padding: 20px;
}
/*установка стилей для шрифта заголовка*/
h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: Arial;
    color: #3a3a3a;
}
/*установка стилей для таблицы*/
form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    color: #3a3a3a;
    margin-top: 10px;
}

form input[type="text"], form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
    font-size: 16px;
}
form input[type="number"]:read-only {
    background-color: #ccc;
    color: #555;
}

form br {
    clear: both;
}

form #id {
    margin-top: 20px;
}

form #name {
    text-transform: capitalize;
}

form #type {
    text-transform: uppercase;
}
/*установка стилей для кнопки submit*/
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3e8e41;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #28a760;
}

